<!-- Validation failure messages -->
<% if @diet.present? %>
  <% if @diet.errors.any? %>
    <% @diet.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new diet
</h1>


<hr>

<!-- Form diet start -->
<form action="/create_diet" method="post">
<!-- Form diet end -->

  <!-- Label and input for food_id start -->
  <div class="form-group">
    <label for="food_id">
      Food
    </label>

    <!-- Input for food_id start -->
    <input type="text" id="food_id" name="food_id" class="form-control" value="<%= @diet.food_id %>">
    <!-- Input for food_id end -->
  </div>
  <!-- Label and input for food_id end -->

  <!-- Label and input for diet_name start -->
  <div class="form-group">
    <label for="diet_name">
      Diet name
    </label>

    <!-- Input for diet_name start -->
    <input type="text" id="diet_name" name="diet_name" class="form-control" value="<%= @diet.diet_name %>">
    <!-- Input for diet_name end -->
  </div>
  <!-- Label and input for diet_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create diet
  </button>
</form>

<hr>

<a href="/diets">
  Go back
</a>
