<h1>
  Add a new diet
</h1>


<hr>

<form action="/create_diet" method="post">

  <div class="form-group">
    <label for="food_id">
      Food
    </label>

    <%= select_tag(:food_id, options_from_collection_for_select(Food.all, :id, :food_name, @diet.food_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="diet_name">
      Diet name
    </label>

    <input type="text" id="diet_name" name="diet_name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create diet
  </button>
</form>

<hr>

<a href="/diets">
  Go back
</a>
