<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Diets

    <a data-toggle="collapse" href="#food_diets_new_form">
      Add diet
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @food.diets.each do |diet| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/diets/<%= diet.id %>">
          <%= diet.created_at %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_diet_from_food/<%= diet.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="food_diets_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "food_templates/food_diets_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
