<form action="/create_diet_from_food" method="post">

  <input type="hidden" name="food_id" value="<%= @food.id %>">

  <div class="form-group">
    <label for="diet_name">
      Diet name
    </label>

    <input type="text" id="diet_name" name="diet_name" class="form-control" value="<%= @diet.diet_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create diet
  </button>
</form>
