<!-- Validation failure messages -->
<% if @food.errors.any? %>
  <% @food.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit food #<%= @food.id %>
</h1>

<hr>

<!-- Form food start -->
<form action="/update_food/<%= @food.id %>" method="post">
<!-- Form food end -->

  <!-- Label and input for food_name start -->
  <div class="form-group">
    <label for="food_name">
      Food name
    </label>

    <!-- Input for food_name start -->
    <input type="text" id="food_name" name="food_name" class="form-control" value="<%= @food.food_name %>">
    <!-- Input for food_name end -->
  </div>
  <!-- Label and input for food_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update food
  </button>
</form>

<hr>

<a href="/foods">
  Go back
</a>
