<h1>
  Add a new food
</h1>


<hr>

<form action="/create_food" method="post">

  <div class="form-group">
    <label for="food_name">
      Food name
    </label>

    <input type="text" id="food_name" name="food_name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create food
  </button>
</form>

<hr>

<a href="/foods">
  Go back
</a>
