<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Food
  </div>

  <ul class="list-group list-group-flush">
    <% @food_diet.food.each do |food| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/foods/<%= food.id %>">
          <%= food.food_name %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
